.text-indent {
	text-indent: 2.5em;
}

.carousel {
	margin-bottom: 2rem;
}

.carousel-item > img {
	min-width: 100%;
	max-height: 600px;
	object-fit: cover;
}

.card-article {
	transition: 0.2s ease-out;
}

.card-article:hover {
	transform: translateY(-0.8rem);
}

.hide {
	visibility: hidden;
}

.smooth_scroll {
	visibility: hidden;
	transform-origin: 50% 0%;
}

.smooth_out_container {
	visibility: hidden;
	transform-origin: 50% 50%;
}

.smooth_in_container {
	transform-origin: 50% 50%;
}

.footer {
	justify-content: center;
	height: 40px;
}

.my_shadow_0 {
	box-shadow: 0px 0px 12px #a0a0a0;
}
